<%= render 'shared/errors', obj: @artist %>


<div class="row">
<div class="well col-md-10 col-md-offset-1">

<%= form_for @artist do |f| %>

<%= f.label :ArtistName %>
<%= f.text_field :artsyname %>

<%= f.label :FirstName %>
<%= f.text_field :firstname %>

<%= f.label :LastName %>
<%= f.text_field :lastname %>

<%= f.label :Origin %>
<%= f.text_field :origin %>

<%= f.label :Website %>
<%= f.text_field :websiteurl %>

<%= f.label :Facebook %>
<%= f.text_field :facebook %>

<%= f.label :Instagram %>
<%= f.text_field :instagram %>

<%= f.label :Twitter %>
<%= f.text_field :twitter %>

<%= f.label :Email %>
<%= f.email_field :email %>

<%= f.label :Password %>
<%= f.password_field :password %>

<%= f.submit(@artist.new_record? ? 'Register' : 'Edit Profile', class: "btn btn-success") %>

<% end %>
</div>
</div>