<%= render 'layouts/header1' %>
<%= render 'shared/page_title', title: "Artists Directory" %>
<ul class="nav nav-tabs">
  <li >
    <%= link_to "Songs", songs_path %>
  </li>
  <li class="active">
    <%= link_to "Artists", artists_path %>
  </li >
</ul>
<%= will_paginate %>
<div class="row">
  <% @artists.each do |artist| %>
  <div class="col-lg-3 col-md-3 col-sm-4 portfolio-item marginbottom35">
   <h5> <%= link_to(artist.artsyname, artist_path(artist)) %> </h5>
  </div>
  <% end %>
</div>

  <%= will_paginate %>
