<%= render 'shared/page_title', title: @artist.artsyname %>
<div class="row">

  <p class="text-muted"><span class="bluetitle">Stage Name:</span> <%= @artist.artsyname %></p>
  <p class="text-muted"><span class="bluetitle">First Name:</span> <%= @artist.firstname %></p>
  <p class="text-muted"><span class="bluetitle">Last Name:</span> <%= @artist.lastname %></p>
  <p class="text-muted"><span class="bluetitle">Origin:</span> <%= @artist.origin %></p>
  <p class="text-muted"><span class="bluetitle">Email:</span> <%= @artist.email %></p>
  <p class="text-muted"><span class="bluetitle">Website:</span> <%= @artist.websiteurl %></p>
  <p class="text-muted"><span class="bluetitle">Facebook:</span> <%= @artist.facebook %></p>
  <p class="text-muted"><span class="bluetitle">Instagram:</span> <%= @artist.instagram %></p>
  <p class="text-muted"><span class="bluetitle">Twitter:</span> <%= @artist.twitter %></p>
  <p class="text-muted"><span class="bluetitle">Likes:</span> <%= @artist.thumbs_up_total %></p>
    <p class="text-muted"><span class="bluetitle">Artist ID:</span> <%= @artist.id %></p>
</div>

<div class="row">
<div class="col-md-4">
	<h3><em>Songs:</em></h3>
<%= will_paginate @songs %>
</div>
</div>

<div class="row">
  <% @songs.each do |song| %>
  <div class="col-lg-3 col-md-3 col-sm-4 portfolio-item marginbottom35">
    <a href="#">
      <%= link_to image_tag(song.artworkurl.url, size: "250x250", class: "img-responsive"), song_path(song) if song.artworkurl? %>
    </a>
    <h3>
      <%= link_to(song.songtitle, song_path(song), class: "art-title white") %>
    </h3>

    <div class="pull-right">
      <p class="text-muted"><span class="bluetitle">Likes:</span>  <%= song.thumbs_up_total %> <span class="glyphicon glyphicon-heart"></span></p>
      <p class="text-muted"><span class="bluetitle">Dislikes:</span>  <%= song.thumbs_down_total %> <span class="glyphicon glyphicon-remove"></span></p>
    </div>
    <p><span class="semi-white"><small> <%= time_ago_in_words(song.created_at) %> ago</small> </p>
    </div>
    <% end %>
  </div>