<%= render 'layouts/header1' %>
<%= render 'shared/page_title', title: "Videos" %>
<div class="row">
  <% @videos.each do |video| %>
  <div class="col-lg-4 col-md-4 col-sm-4 portfolio-item marginbottom35">
    <a href="#">
      <%= link_to image_tag(video.artwork.url, size: "350x350", class: "img-responsive"), video_path(video) if video.artwork? %>
    </a>
    <h3>
      <%= link_to(video.title, video_path(video), class: "art-title white") %>
    </h3>
    <p><span class="semi-white"><small> <%= time_ago_in_words(video.created_at) %> ago</small> </p>
    </div>
    <% end %>
  </div>
