<%= render 'shared/errors', obj: @song %>


<div class="row">
<div class="well col-md-10 col-md-offset-1">

<%= form_for(@song, html: { multipart: true }) do |f| %>

<%= f.label :Song_Title %>
<%= f.text_field :songtitle %>

<%= f.label :Format %> (e.g. mp3, wav)
<%= f.text_field :format %>

<%= f.label :Release_Date %>
<%= f.text_field :releasedate %>

<%= f.label :Filename %> (e.g. TheWaysShal.mp3)
<%= f.text_field :filename %>

<%= f.label :Artist_ID %> (e.g. 1)
<%= f.text_field :artist_id %>

<%= f.label :Lyric %>
<%= f.text_area :lyric, rows: 10 %>
<span class="picture">
	Upload album cover (jpg, png or gif only):
<%= f.file_field :artworkurl, accept: 'image/jpeg,image/gif,image/png' %>
</span>
<%= f.submit(@song.new_record? ? 'Submit Song' : 'Edit Song', class: "btn btn-success") %>

<% end %>
</div>
</div>

<script type="text/javascript">
$('#song_artworkurl').bind('change',function() {
  size_in_megabytes = this.files[0].size/1024/1024;
  if (size_in_megabytes > 5) {
    alert('Maximum file size is 5Mb. Please choose smaller file.');
  }
});
</script>
