<%= render 'layouts/header1' %>
<%= render 'shared/page_title', title: "Music Directory" %>
<div class="row marginbottom35">
  <% @songs.each do |song| %>
  <div class="col-lg-3 col-md-3 col-sm-4 portfolio-item">
    <a href="#">
      <%= link_to image_tag("music/"+song.artworkurl, size: "250x250", class: "img-responsive"), song_path(song) %>
    </a>
    <h3>
      <%= link_to(song.songtitle, song_path(song), class: "art-title white") %>
    </h3>
    <p><span class="semi-white"><small> <%= time_ago_in_words(song.created_at) %> ago</small> </p>
    </div>
    <% end %>
  </div>
