<h5><%= link_to "Music Listing", songs_path, class: "btn btn-warning btn-small" %></h5>
<%= render 'shared/page_title', title: @song.songtitle %>
<div class="row">
  <div class="col-md-4 col-sm-4"><%= image_tag("music/"+@song.artworkurl, size: "450x450", class: "img-responsive") %></diV>
  <div class="col-md-4 col-sm-4">
    <p class="text-muted"><span class="bluetitle">Artist:</span> <%= @song.artist.artsyname %></p>
    <p class="text-muted"><span class="bluetitle">Facebook:</span> <%= @song.artist.facebook %></p>
    <p class="text-muted"><span class="bluetitle">Likes:</span>  <%= @song.artist.likes %> <span class="glyphicon glyphicon-heart"></span></p>
    <p class="text-muted"><span class="bluetitle">Followers:</span>  <%= @song.artist.followers %></p>
  </div>
  <div class="col-md-4 col-sm-4">You are listening to:
  <%= audio_tag(@song.filename, autoplay: false, controls: true) %>
  </div>

</div>
<h5><%= link_to "Edit Song", edit_song_path(@song), class: "btn btn-danger btn-small pull-right" %></h5>

</div>
